#include "blackvelvet.dtsi"

&matrix1 {
    col-gpios
        = <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        ;
};
&matrix2 {
    col-gpios
        = <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};
